.player-top-controls {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000000AA, transparent);
  width: 100%;
}
.player-bottom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #000000AA, transparent);
  width: 100%;
}
html {
  background-color: black;
}
.player-button {
  color: white;
  background-color: transparent;
}
.player-button:hover {
  color: white;
  background-color: #FFFFFF11;
}
.player-button:active {
  color: white;
  background-color: #FFFFFF22;
}
body {
  margin: 0;
}
html {
  color: white;
}
html {
  overflow: hidden;
}
@media (max-width: 300px) {
  #duration, #speed {
    display: none;
  }
}
